.Button {
    width: 100%;
    height: 100%;
    min-height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: orange;
    color: #fff;
    font-weight: bold;
    padding-left: 24px;
    padding-right: 24px;
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
    border: none;
    appearance: none;

    &:hover {
        background: darken(orange, 2%);
    }
}
