@import '../../assets/variables.scss';

.Header {
    position: absolute;
    left: 0;
    top: 0;
    height: $header;
    width: 100%;
    box-shadow: 0 2px 4px rgba(black, 0.25);
    background: rgba(white, 0.5);
    backdrop-filter: blur(3px);

    &__status {
        position: relative;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        height: 100%;
        padding: 8px 24px;
    }

    &-status-name {
        margin-right: 12px;
    }
}
