@import '../../assets/variables.scss';

.Messanger {
    height: 100%;
    background: #fff;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(45deg, #f1882f, #410c54);

    &__list {
        height: calc(100% - 60px);
        background: rgba(orange, 0.1);
        padding: 24px;
        padding-top: 64px;
        overflow: auto;
    }

    &__form {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;

        margin-top: auto;
        box-shadow: 0 -4px 8px rgba(black, 0.25);
    }

    &__input {
        height: 100%;
        width: calc(100% - 100px);
        outline: none;
        border: none;
        appearance: none;
        padding: 0 24px;
        font-size: 16px;
        font-family: $font;
        background: rgba(white, 0.5);
        transition: background-color 300ms ease-in-out;

        &:hover {
            background: rgba(white, 0.6);
        }

        &:focus {
            background: rgba(white, 0.7);
        }
    }

    &__send {
        width: 100px;

        height: 100%;
    }

    &__item {
        display: flex;
        width: 100%;

        & + & {
            margin-top: 12px;
        }
    }

    &__author,
    &__time {
        display: flex;
        font-style: italic;
        font-size: 14px;
        font-weight: bold;
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__time {
        color: rgba(black, 0.6);
        font-size: 12px;
        margin-left: 24px;
    }

    &__item-wrapper {
        background: white;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 1px 1px 2px rgba(black, 0.1);
    }

    &__message {
        text-align: left;
    }
}
